<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalemon.stone.dao.mapper.ArticleMapper">

    <insert id="addArticleVideo"  parameterType="com.javalemon.stone.model.dto.ArticleVideoDTO" useGeneratedKeys="true" keyProperty="id">
        insert into bit_article_video (id, videoId, title, mdContent, content, `desc`, displayTime, importance, likeNum, viewNum)
        VALUES (#{id}, #{videoId}, #{title}, #{mdContent}, #{content}, #{desc}, #{displayTime}, #{importance}, #{likeNum}, #{viewNum})
    </insert>

    <update id="updateArticleVideo"  parameterType="com.javalemon.stone.model.dto.ArticleVideoDTO">
        update bit_article_video set
        title = #{title},
        mdContent = #{mdContent},
        content = #{content},
        `desc` = #{desc},
        displayTime = #{displayTime},
        importance = #{importance},
        likeNum = #{likeNum},
        viewNum = #{viewNum}
        where id = #{id}
    </update>

    <select id="listArticleVideo" resultType="com.javalemon.stone.model.dto.ArticleVideoDTO">
        select * from bit_article_video order by id desc
    </select>

    <select id="listPageArticleVideo" resultType="com.javalemon.stone.model.dto.ArticleVideoDTO" parameterType="com.javalemon.stone.model.param.Page">
        select * from bit_article_video order by id limit desc #{start}, #{limit}
    </select>

    <select id="getArticleDetail" resultType="com.javalemon.stone.model.dto.ArticleVideoDTO">
        select * from bit_article_video where id = #{articleId}
    </select>

    <select id="countArticleVideo" resultType="int">
        select count(*) from bit_article_video
    </select>

</mapper>