<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalemon.stone.dao.mapper.UserMapper">

    <insert id="addUser"  parameterType="com.javalemon.stone.model.dto.UserDTO" useGeneratedKeys="true" keyProperty="id">
        insert into bit_user (name, nickName, avatarUrl, email, password, accessToken, sessionKey, unionId, openId, createTime)
        VALUES (#{name}, #{nickName}, #{avatarUrl}, #{email}, #{password}, #{sessionKey}, #{unionId}, #{openId}, #{createTime})
    </insert>

    <select id="getUser" resultType="com.javalemon.stone.model.dto.UserDTO">
        select * from bit_user where id = #{userId}
    </select>

    <select id="getUserByEmail" resultType="com.javalemon.stone.model.dto.UserDTO">
        select * from bit_user where email = #{email}
    </select>

    <select id="getUserByOpenId" resultType="com.javalemon.stone.model.dto.UserDTO">
        select * from bit_user where openId = #{openId}
    </select>

    <select id="getUserByToken" resultType="com.javalemon.stone.model.dto.UserDTO">
        select * from bit_user where accessToken = #{token}
    </select>

    <update id="updateUserInfo" parameterType="com.javalemon.stone.model.dto.UserDTO">
        UPDATE bit_user
        set nickName = #{nickName}, avatarUrl = #{avatarUrl}
        where id = #{id}
    </update>

</mapper>