<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalemon.stone.dao.mapper.VideoMapper">

    <insert id="addVideo"  parameterType="com.javalemon.stone.model.dto.VideoDTO" useGeneratedKeys="true" keyProperty="id">
        insert into bit_video (id, qiniuKey, title, createTime)
        VALUES (#{id}, #{qiniuKey}, #{title}, #{createTime})
    </insert>

    <select id="listVideo" resultType="com.javalemon.stone.model.dto.VideoDTO">
        select * from bit_video order by id desc
    </select>

    <select id="searchList" resultType="com.javalemon.stone.model.dto.VideoDTO">
        select * from bit_video where title like "%"#{keyword}"%" order by id desc
    </select>

</mapper>